.root {
  -fx-background: rgba(45, 44, 44, 1);
}

#lbl_NowPlaying {
  -fx-font-size: 12px;
  -fx-font-weight: bold;
  -fx-text-fill: #333333;
  -fx-text-fill: red;
  -fx-effect: dropshadow( gaussian , rgba(0,0,0,.5) , 0,0,0,1 );
  
}

#lbl_NowPlaying:hover{
  -fx-text-fill: blue;
}